* {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    width: 100%;
    padding-top: 32px;
    z-index: 2;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: block;
}

.logo {
    display: inline-block;
}

.logo:hover {
    transform: scale(2);
}

.mrl-20 {
    margin-left: 20px;
}

.mrl-22 {
    margin-left: 22px;
}

.mrl-32special {
    margin-left: -32px;
}

.mrl-12special {
    margin-left: -12px;
}

.mrl-30 {
    margin-left: 30px;
}

.mrl-150 {
    margin-left: 150px;
}

.mrb-65 {
    margin-bottom: 65px;
}

.mrb-15 {
    margin-bottom: 15px;
}

.mrb-30 {
    margin-bottom: 30px;
}

.mrb-40 {
    margin-bottom: 40px;
}

.mrb-141 {
    margin-bottom: 141px;
}

.mrb-120 {
    margin-bottom: 120px;
}

.mrb-133 {
    margin-bottom: 133px;
}

.mrb-27 {
    margin-bottom: 27px;
}

.mrb-21 {
    margin-bottom: 21px;
}

.mrb-60 {
    margin-bottom: 60px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-20 {
    width: 15%;
}

.w-380 {
    width:380px;
}

.mw-634 {
    max-width: 634px;
}

.mw-635 {
    max-width: 635px;
}

.mw-431 {
    max-width: 431px;
}

.mw-467 {
    max-width: 467px;
}

.font-style-logo {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

nav a {
    margin-left: 23px;
}

.list {
    display: flex;
    list-style-type: none;
}

.item-b {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    display: inline-block;
    padding-left: 33px;
    padding-right: 27px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #FFFFFF;
}

.decoration-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.main-banner{
    background-image: url('../images/mainsection.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 344px;
}

.main-banner.item2 {
    background-image: url('../images/femail.jpg');
}

.main-banner.item3 {
    background-image: url('../images/childmilk.jpg');
}

.main-banner.item4 {
    background-image: url('../images/mobile.jpg');
}

.title {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 100%;
    color: #181818;
}
.subtitle {
    ont-family: 20 Kopeek Book;
    font-size: 34px;
    line-height: 110%;
    color: #181818;
}

.btn {
    display: inline-block;
    padding-left: 47px;
    padding-right: 47px;
    background-color: white;
    background: #FFFFFF;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 61px;
    color: #181818;
}

.btn:hover {
    background-color: greenyellow;
}

.what-is-style {
    padding-top: 70px;
    padding-bottom: 133px;
}

.subtitle-what-is-style {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
}

.fnt-what-is-style {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #181818;
}

.fnt-what-is-style-title {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #181818;
    margin-bottom: 15px;
}

.content-body-right {
    width: 50%;
    margin-left: 30px;
    text-align: left;
    max-width: 445px;
    padding-top: 35px;
}

.big-text {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
}

.text-left {
    max-width: 416px;
    padding-top: 55px;
}

.flex-list {
    display: flex;
}

.flex-list-text {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    display: flex;
    font-family: '20 Kopeek';
    font-size: 18px;
    color: #181818;
    width: 20%;
}

.flex-item span {
    font-size: 55px;
}

.flex-item p {
    padding-left: 8px;
    padding-top: 30px;

}

span.base-style {
    font-family: '20 Kopeek';
    font-size: 18px;
    padding-bottom: 16px;
    display: inline-block;
    width: 100%;
}

.fnt-hmuch-is-style {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    padding-left: 13px;
    padding-right: 7px;
}


.fnt-hmuch-is-style:last-of-type {
    margin-bottom: 0;
}

.blu {
    display: inline-block;
    height: 93px;
    background: #2B59C3;
    border-radius: 5px;
    color: white;
}

.content-images {
    padding-bottom: 0px;
}

.content-images div img {
    margin-bottom: 44px;
    width: 100%;
}

.content-images div {
    margin-bottom: 100px;
}

.button {
    display: inline-block;
    padding: 23px 47px;
    background: #FFFFFF;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-size: 18px;
    height: 71px;
    color: #181818;
    margin-left: 89px;
}

.button:hover {
    background-color: greenyellow;
}

.content-images div p {
    padding: 0;
}


.subtitle-secondary {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 110%;
    color: #181818;
    margin: auto;
}

.subtitle-secondary-final {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 110%;
    color: #181818;
}

.what-is-guideline {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 50px;
    display: inherit;
}

.big-blu {
    display: inline-block;
    height: 230px;
    background: #2B59C3;
    border-radius: 5px;
    color: white;
}

.blu-button {
    display: inline-block;
    padding: 19px 47px;
    background: #2B59C3;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-size: 26px;
    height: 71px;
    color: #FFFFFF;
    margin-left: 350px;
}

.blu-button:hover {
    background-color: mediumpurple;
}

.text-left p {
    margin-bottom: 10px;
}

.ht-230 {
    height: 230px;
}

.customer-field {
    width: 350px;
    height: 71px;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
}

.customer-field-long {
    width: 445px;
    height: 71px;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
}

.font-color {
    color: #868686;
}

.real-button {
    display: inline-block;
    padding: 23px 47px;
    background: #2B59C3;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-size: 18px;
    height: 71px;
    color: #FFFFFF;
}

.real-button:hover {
    background-color: mediumpurple;
}

.d-flex-special {
    display: -webkit-inline-box;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.pd-0 {
    padding: 0;
}

.mrr-11 {
    margin-right: 11px;
}

.secondary-banner {
    background-image: url('../images/secondarybanner.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 432px;
}

.title-white {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.white {
    display: flex;
    font-family: '20 Kopeek';
    font-size: 15px;
    color: #181818;
    width: 20%;
    color: #FFFFFF;
}

.subtitle-und-image {
    font-family: '20 Kopeek';
    font-size: 26px;
    line-height: 110%;
    color: #181818;
}

.display-text {
    font-family: '20 Kopeek';
    font-size: 18px;
    color: #181818;
    width: 20%;
}
.text-description {
    padding-bottom: 150px;
}

.final-content {
    padding-top: 150px;
}

.boxes {
    background: #2B59C3;
    border-radius: 10px;
    width: 255px;
    margin-right: 30px;
    font-family: '20 Kopeek';
    font-size: 18px;
    height: 131px;
    color: #FFFFFF;
    padding-left: 13px;
    padding-top: 6px;
}

.boxes:first-child {
    height: 106px;
}

.boxes:last-child {
    margin-right: 29px;
    height: 169px;
}

.pdb {
    padding-bottom: 25px;
}

.pdb-last {
    padding-bottom: 36px;
}

.owl-dots {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
}

.owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #868686;
    border-radius: 50%;
}

.owl-dot {
    display: inline-block;
    margin-left: 10px;
}

.owl-dot.active span{
    background-color: yellow;
}

.owl-dot.active:hover span {
    width: 15px;
    height: 15px;
    transition: 0.3s;
}

#accordion {
    max-width: 1170px;
    margin: auto;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    font-size: 100%;
    background-color: #fce7f2;
    font-size: 28px;
    color: #860da6;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
    background-color: #fef5fa;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    background-color: #fef5fa;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
}

.ui-accordion .ui-accordion-header:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #860da6;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    top: -5px;
}

.ui-icon{
    position: absolute;
    right: 15px;
    background-image: none;
    background-position: 0;
    text-indent: 0;
    width: auto;
    height: auto;
}

.ui-icon:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f054";
}

.ui-accordion .ui-accordion-header.ui-state-hover span {
    background-image: none;
}

.ui-accordion .ui-accordion-header.ui-state-active span {
    transform: rotate(90deg);
}
